body {
  width: 100vw;
  height: 100%;
  background: #DFBBB1;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.todoTitle {
  font-size: 1.65rem;
  font-weight: 600;
  padding-right: 7px;
  color: #D9089A;
  margin-left: 10px;
}

.todoInput {
  width: 450px;
  height: 30px;
  border-radius: 9px;
  border: 1px solid #373F51;
  padding: 5px;
}

.add-btn {
  width: 150px;
  height: 45px;
  border-radius: 9px;
  border: 1px solid #E43F6F;
  background: #F56476;
  color: #373F51;
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 7px;
}

.add-btn:hover {
  background: #E43F6F;
  border: 1px solid #F56476;
  cursor: pointer;
}

.todo-list-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #008DD5;
  margin-top: 20px;
  border-radius: 9px;
  border: 1px solid #373F51;
}

.list-title {
  font-size: 1.85rem;
  padding-top: 10px;
  padding-bottom: 0;
  color: #F58F29;
}

.todo-list {
  width: 100%;
  margin: 12px;
  border-radius: 9px;
  list-style-type: none;
}

.checkbox {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  background: #F56476;
}

.list-item {
  font-size: 1.65rem;
  padding: 3px;
  color: #E8EEF2;
  font-weight: 500;
  /* border-bottom: 1px solid #D9089A; */
  margin-bottom: 9px;
  color: #FFE74C;
}

input[type="checkbox"] {
  accent-color: #40F99B;
}